# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Temporary files
*.rmarkdown

# Result files
results/
data/*.pxl
single_cell_analysis_sop_files/
proxiome_analysis_template_files/
*.html

# Utility files
.cursor/
.positai
renv/
renv.lock
